@font-face {
  font-family: 'Amiri';
  src: url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,900;1,900&family=Rubik+Scribble&display=swap') format('truetype');

}
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Amiri', serif;
  margin:0;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}


/*======================================================
                          Navbar
  ======================================================*/
#navbar {
  background: rgb(255, 255, 255);
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
  font-family: 'Amiri', serif;
font-weight: 999;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
} @media(max-width: 768px) {
    .nav-wrapper {
      width: 90%;
    }
  } @media(max-width: 638px) {
      .nav-wrapper {
        width: 100%;
      }
    } 


.logo {
  float: right;
  margin-left: 30px;
  font-size: 1.5em;
  height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
} @media(max-width: 700px) {
    .logo {
       margin-left: 5px; 
    }
  }

#navbar ul {
  display: inline-block;
 /* float: right;*/
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
} @media(max-width: 640px) {
    #navbar ul {
      display: none;
    }
  } @media(orientation: landscape) {
      #navbar ul {
        display: inline-block;
      }
    }

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(13, 26, 38);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}


#navbar li a:before, #navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: rgb(13, 26, 38);
  right: 0;
  /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}



/*======================================================
                    Mobile Menu Menu Icon
  ======================================================*/
@media(max-width: 640px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;
  }

  /* Icon Bars */
  .icon-bars {
    background: rgb(13, 26, 38);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  } 

  .icon-bars::before {
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
/*     -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  .icon-bars::after {
    margin-top: 0px;
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
/*     -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  /* Bars Shadows */
  .icon-bars.overlay {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s;
  } @keyframes middleBar {
      0% {width: 0px}
      50% {width: 20px}
      100% {width: 0px}
    } @-webkit-keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      }

  .icon-bars.overlay::before {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s;
  } @keyframes topBar {
      0% {width: 0px}
      50% {width: 10px}
      100% {width: 0px}
    } @-webkit-keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      }

  .icon-bars.overlay::after {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s;
  } @keyframes bottomBar {
      0% {width: 0px}
      50% {width: 15px}
      100% {width: 0px}
    } @-webkit-keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      }


  /* Toggle Menu Icon */
  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }

  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}


/*======================================================
                   Responsive Mobile Menu 
  ======================================================*/
.overlay-menu {
  background: lightblue;
  color: rgb(13, 26, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.overlay-menu ul, .overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li a {
  display: block;
  font-size: 1.8em;
  letter-spacing: 4px;
/*   opacity: 0; */
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
/*   -webkit-transition: 0.2s opacity 0.2s ease-out;
  transition: 0.2s opacity 0.2s ease-out; */
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
  color: rgb(28, 121, 184);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

















* {box-sizing: border-box}
.slide {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 60px auto 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  top: calc(50% - 22px);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  background-color: rgba(255, 0, 0, 0.5); /* Blue 50% transparent background */
  color: white; /* Text color */
  padding: 8px 12px; /* Padding around the text */
  font-size: 45px; /* Font size */
  position: absolute; /* Positioning relative to its container */
  bottom: 8px; /* Distance from the bottom */
  width: 100%; /* Full width */
  text-align: center; /* Center the text */

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;

  
}

/* Number text (1/3 etc) */
.numbertext {
  background-color: rgba(0, 0, 0, 0.6); /* Black 60% transparent background */
  color: #fff; /* Text color */
  font-size: 14px; /* Font size */
  padding: 6px 10px; /* Padding around the text */
  position: absolute; /* Positioning relative to its container */
  top: 20px; /* Distance from the top */
  left: 20px; /* Distance from the left */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Drop shadow */
  animation: fadeInOut 3s ease infinite; /* Animation */
}
@keyframes fadeInOut {
  0% { opacity: 0; } /* Start with opacity 0 */
  50% { opacity: 1; } /* Fade in */
  100% { opacity: 0; } /* Fade out */
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 4px; /* Adjust spacing between dots */
  background-color: rgba(255, 0, 0, 0.5); /* Red 50% transparent background */
  border-radius: 50%; /* Rounded shape */
  display: inline-block;
  transition: background-color 0.3s ease; /* Smooth transition */
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Red shadow */
}

.active, .dot:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Green 80% transparent background for active dot */
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8); 
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Additional styles for slideshow */
/* Adjustments to fit the slideshow into the layout */


/* CSS for the caption container */
.caption-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* CSS for the caption text */
.caption {
  background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
  color: white;
  padding: 8px 12px;
  font-size: 15px;
}


.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 100px;
}


.count {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: #333;
  transition: 1s ease-out;
}

.counting {
  animation: countUp 2s ease-out forwards;
}

@keyframes countUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
.counter-labels {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  color: #666; /* Adjust label color */

}

.label {
  text-align: center;
}
.counter-icon {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin-left: 35px;
}





.containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.updates, .why-saleh-serghini {
  width: 48%; /* Adjust as needed */
  margin-top: 120px;
  text-align: center;
  font-family: 'Amiri', serif;
}

.update-container {
  position: relative;
  overflow: hidden;
}

.update {
  margin-bottom: 20px;
}

.update img {
  width: 100%;
  height: auto;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.arrow {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Add the following styles to create a black line between sections */
.updates {

  padding-right: 20px; /* Adjust as needed */
}

.why-saleh-serghini {
  border-left: 1px solid #000;
  padding-left: 80px; /* Adjust as needed */
}

.updates h2, .why-saleh-serghini h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.update-description {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  color: white;
  padding: 10px;
}








.image-slider {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden; /* Hide overflow */
  margin-top: 85px;
}

.slider-images {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-images img {
  flex: 0 0 100%; /* Each image takes full width */
  margin-right: 10px; /* Adjust as needed */
}

.slider-title {
  font-family: 'Amiri', serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.prev-slide,
.next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: black;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

.prev-slide {
  left: 10px;
}

.next-slide {
  right: 10px;
}








.feedback-section {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.left-panel {
  flex: 1;
  text-align: center;
}

.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.person {
  text-align: center;
  cursor: pointer;
}

.person-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#video-player {
  display: none;
}

.person-details {
  display: none;
  text-align: center;
}


  .map-container{
    margin-top: 70px;
 
  }

  


   
    .footer-main {
      background-color: #333;
      color: #fff;
      padding: 20px;
      display: none; 
      justify-content: space-between;
      align-items: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 1000;
    }
  
    .left-panel, .right-panel {
      flex: 1;
    }
  
    .center {
      display: flex;
      align-items: center;
    }
  
    .contact-info {
      display: none; 
      align-items: center;
      justify-content: flex-end; 
    }
  
    .contact-info a {
      color: #fff;
      margin: 0 10px;
    }
  

    .copyright {
      text-align: center;
      background-color: #333;
      color: #fff;
      padding: 10px;
      width: 100%;
 
      bottom: 0;
      display: none; 
    }
  

    @keyframes slideIn {
      0% {
        opacity: 0;
        transform: translateY(100%);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    .animated {
      animation: slideIn 0.5s ease forwards;
    }
